.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #ffffff;
    width: 300px;
}

.card-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.card-icon {
    margin-right: 10px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.hourly-rate {
    display: flex;
    /* justify-content: left; */
    flex-direction: column;
    margin: 0;
    /* background-color: #0056b3; */
}

.card-button {
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #111418;
    color: #fff;
    border: none;
    cursor: pointer;
}

.card-button:hover {
    background-color: #0056b3;
}
